body {
background-color: white;
}

.partecima-centro {
  font-size: 20px; 
  margin-left: 20px;
  color: rgb(8, 77, 110);
  font-family: "Fraunces", serif;
  border-bottom: solid 10px rgb black;
}

.centro {
  padding: 80px;
  background:#5a595d;
}