body {
background-color: #5a595d;
}

.partecima-centro {
  font-size: 20px; 
  margin-left: 20px;
  color:rgb(206, 154, 228);
  font-family: "Fraunces", serif;
  border-top: solid 2px rgb black;
}

.centro {
  padding: 80px;
  background:white;
}