body {
background-color: rgb(157, 188, 246);
}

.partecima-centro {
  background: rgb(0, 0, 0);
  font-size: 50px; 
  color:rgb(22, 54, 143);
  font-family: "Fraunces", serif;
  border-top: solid 2px rgb black;
}

.centro {
  padding: 80px;
  background: rgb(195, 225, 243);
}